util/texinfo.dtd

<!-- $Id: texinfo.dtd,v 1.18 2011/09/13 23:11:08 pertusus Exp $
  Document Type Definition for Texinfo XML output (the '-'-xml option).

  Copyright 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
  2011 Free Software Foundation, Inc.

  Copying and distribution of this file, with or without modification,
  are permitted in any medium without royalty provided the copyright
  notice and this notice are preserved.

  Original author: Philippe Martin.
-->

<!-- * ENTITIES * -->

<!-- Meta-information -->
<!ENTITY % metainformation "setfilename | settitle | dircategory
                            | documentdescription">
<!ENTITY % variables "setvalue | clearvalue">

<!-- Document language -->
<!ENTITY % lang "documentlanguage">

<!-- Language codes -->
<!ENTITY % languagecodes "aa|ab|af|am|ar|as|ay|az|ba|be|bg|bh|bi|bn|bo|br|ca|co|cs|cy|da|de|dz|el|en|eo|es|et|eu|fa|fi|fj|fo|fr|fy|ga|gd|gl|gn|gu|ha|he|hi|hr|hu|hy|ia|id|ie|ik|is|it|iu|ja|jw|ka|kk|kl|km|kn|ko|ks|ku|ky|la|ln|lo|lt|lv|mg|mi|mk|ml|mn|mo|mr|ms|mt|my|na|ne|nl|no|oc|om|or|pa|pl|ps|pt|qu|rm|rn|ro|ru|rw|sa|sd|sg|sh|si|sk|sl|sm|sn|so|sq|sr|ss|st|su|sv|sw|ta|te|tg|th|ti|tk|tl|tn|to|tr|ts|tt|tw|ug|uk|ur|uz|vi|vo|wo|xh|yi|yo|za|zh|zu">

<!-- ToC -->
<!ENTITY % toc "contents | shortcontents">

<!-- Title page -->
<!ENTITY % titlepage_cmds "author | title | subtitle">

<!-- index entry commands -->
<!ENTITY % indexentry.cmds "cindex | kindex | pindex | tindex | vindex | indexcommand">

<!-- Block -->
<!ENTITY % block "menu | para | pre | quotation | smallquotation
                  | example | smallexample | lisp | smalllisp
                  | cartouche | copying
                  | format | smallformat
                  | display | smalldisplay
                  | raggedright | flushleft | flushright
                  | itemize | enumerate | sp | titlefont | center | group
                  | table | vtable | ftable | multitable | definition | float | image
                  | %indexentry.cmds;
                  | verbatiminclude| insertcopying | listoffloats">

<!-- API definitions -->
<!ENTITY % definition.cmds "defcategory | deffunction | defvariable | defparam
                          | defdelimiter | deftype | defparamtype | defdatatype
                          | defclass | defclassvar | defoperation">

<!-- Headings -->
<!ENTITY % headings "majorheading | chapheading | heading | subheading
                     | subsubheading">


<!-- Sectioning -->
<!ENTITY % section.level1 "top | part | chapter | unnumbered | appendix">

<!ENTITY % section.level2 "section | unnumberedsec | appendixsec">

<!ENTITY % section.level3 "subsection | unnumberedsubsec | appendixsubsec">

<!ENTITY % section.level4 "subsubsection | unnumberedsubsubsec 
                           | appendixsubsubsec">

<!ENTITY % section.all "%section.level1; | %section.level2; | %section.level3;
                        | %section.level4;">


<!ENTITY % section.level1.content "(%block;
                                   | %section.level2;
                                   | %section.level3;
                                   | %section.level4;
                                   | verbatim | titlepage | %toc;
                                   | %lang; | %variables;
                                   | %headings;
                                   | printindex)*">

<!ENTITY % section.level2.content "(%block;
                                   | %section.level3;
                                   | %section.level4;
                                   | verbatim | titlepage | %toc;
                                   | %lang; | %variables;
                                   | %headings;)*">

<!ENTITY % section.level3.content "(%block;
                                   | %section.level4;
                                   | verbatim | titlepage | %toc;
                                   | %lang; | %variables;
                                   | %headings;)*">

<!ENTITY % section.level4.content "(%block;
                                    | verbatim | titlepage | %toc;
                                    | %lang; | %variables;
                                    | %headings;)*">

<!-- Options (many missing) -->
<!ENTITY % onoff "on|off">
<!ENTITY % spacetype "spc|tab|nl">
<!ENTITY % option.cmds "frenchspacing">

<!-- Inline -->
<!ENTITY % Inline.emphasize "strong | emph">
<!ENTITY % Inline.fonts "b | i | r | sansserif | slanted | tt
                         | sc">
<!ENTITY % Inline.footnote "footnote">
<!ENTITY % Inline.markup "code | command | env | file | option | samp | verb
                          | dfn | cite | key | kbd | var | acronym | url"> 
<!ENTITY % Inline.math "math | dmn">
<!ENTITY % Inline.reference "xref | inforef | email | uref">
<!ENTITY % Inline.misc "click | clicksequence | logo | punct | spacecmd | today
                        | linebreak | accent | dotless ">

<!ENTITY % Inline.phrase
           "%Inline.emphasize;  | %Inline.misc; | %Inline.fonts;
            | %Inline.markup;   | %Inline.math; | %Inline.reference;
            | %indexentry.cmds; 
            | %Inline.footnote; | %option.cmds; ">


<!-- ELEMENTS -->

<!-- TOP Level Element -->
<!ELEMENT texinfo ((%metainformation; | titlepage | node | synindex 
                    | hyphenation
                    | syncodeindex | %indexentry.cmds;
                    | %section.all; | %headings;
                    | %block; | %toc; | %variables; | %lang;)* )>
<!ATTLIST texinfo xml:lang (%languagecodes;) 'en'>

<!-- meta-information -->
<!ELEMENT setfilename (#PCDATA)>
<!ATTLIST setfilename
          file   CDATA #IMPLIED>
<!ELEMENT filename (#PCDATA)>
<!ELEMENT settitle    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT dircategory (#PCDATA)>

<!ELEMENT setvalue    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT clearvalue  EMPTY>
<!ATTLIST setvalue
                name CDATA #REQUIRED>
<!ATTLIST clearvalue
                name CDATA #REQUIRED>

<!-- ToC -->
<!ELEMENT contents      EMPTY>
<!ELEMENT shortcontents EMPTY>

<!-- Document language -->
<!ELEMENT documentlanguage EMPTY>
<!ATTLIST documentlanguage xml:lang (%languagecodes;) 'en'>

<!-- Titlepage -->
<!ELEMENT titlepage    (%titlepage_cmds; | %block;)*>
<!ELEMENT author       (#PCDATA | %Inline.phrase;)*>
<!ELEMENT title    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT subtitle (#PCDATA | %Inline.phrase;)*>

<!-- Explicit blank lines -->
<!ELEMENT sp (#PCDATA)>
<!ATTLIST sp
          lines CDATA #IMPLIED>

<!ELEMENT insertcopying EMPTY>

<!-- emacs-page
     Nodes -->
<!ELEMENT node (nodename, nodenext?, nodeprev?, nodeup?,
                (%section.all; | %block; | %toc; | %lang;)*) >
<!ATTLIST node
          name CDATA #IMPLIED>

<!ELEMENT nodename (#PCDATA)>
<!ELEMENT nodenext (#PCDATA)>
<!ELEMENT nodeprev (#PCDATA)>
<!ELEMENT nodeup   (#PCDATA)>


<!-- Sectioning -->
<!ELEMENT top           (sectiontitle?, (%section.level1.content;))>
<!ELEMENT part          (sectiontitle?, (%section.level1.content;))>

<!ELEMENT chapter       (sectiontitle?, (%section.level1.content;))>
<!ELEMENT section       (sectiontitle?, (%section.level2.content;))>
<!ELEMENT subsection    (sectiontitle?, (%section.level3.content;))>
<!ELEMENT subsubsection (sectiontitle?, (%section.level4.content;))>

<!ELEMENT unnumbered          (sectiontitle?, (%section.level1.content;))>
<!ELEMENT unnumberedsec       (sectiontitle?, (%section.level2.content;))>
<!ELEMENT unnumberedsubsec    (sectiontitle?, (%section.level3.content;))>
<!ELEMENT unnumberedsubsubsec (sectiontitle?, (%section.level4.content;))>

<!ELEMENT appendix          (sectiontitle?, (%section.level1.content;))>
<!ELEMENT appendixsec       (sectiontitle?, (%section.level2.content;))>
<!ELEMENT appendixsubsec    (sectiontitle?, (%section.level3.content;))>
<!ELEMENT appendixsubsubsec (sectiontitle?, (%section.level4.content;))>

<!-- Headings and titles -->
<!ELEMENT majorheading  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT chapheading   (#PCDATA | %Inline.phrase;)*>
<!ELEMENT heading       (#PCDATA | %Inline.phrase;)*>
<!ELEMENT subheading    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT subsubheading (#PCDATA | %Inline.phrase;)*>
<!ELEMENT sectiontitle  (#PCDATA | %Inline.phrase;)*>


<!-- emacs-page
     Block elements -->

<!ELEMENT quotation    (quotationtype?, (%block; | exdent | author)*)>
<!ELEMENT smallquotation    (quotationtype?, (%block; | exdent | author)*)>
<!ELEMENT quotationtype (#PCDATA | %Inline.phrase;)*>
<!ELEMENT documentdescription (#PCDATA | %block;)*>
<!ELEMENT example      (#PCDATA | %block; | exdent)*>
<!ELEMENT smallexample (#PCDATA | %block; | exdent)*>
<!ELEMENT lisp         (#PCDATA | %block; | exdent)*>
<!ELEMENT smalllisp    (#PCDATA | %block; | exdent)*>
<!ELEMENT cartouche    (#PCDATA | %block; | exdent)*>
<!ELEMENT copying      (#PCDATA | %block; | exdent)*>
<!ELEMENT format       (#PCDATA | %block; | exdent)*>
<!ELEMENT smallformat  (#PCDATA | %block; | exdent)*>
<!ELEMENT display      (#PCDATA | %block; | exdent)*>
<!ELEMENT smalldisplay (#PCDATA | %block; | exdent)*>
<!ELEMENT center       (#PCDATA | %Inline.phrase;)*>
<!ELEMENT group        (#PCDATA | %block; | exdent)*>
<!ELEMENT flushleft    (#PCDATA | %block; | exdent)*>
<!ELEMENT flushright   (#PCDATA | %block; | exdent)*>

<!ELEMENT image        (alttext)>
<!ELEMENT alttext      (#PCDATA)>
<!ATTLIST image
            name      CDATA #REQUIRED
            extension CDATA #REQUIRED
            width     CDATA #REQUIRED
            height    CDATA #REQUIRED>

<!-- Whitespace in these elements are always preserved -->
<!ELEMENT verbatim     (#PCDATA)>
<!ATTLIST verbatim     xml:space (preserve) #FIXED 'preserve'>

<!-- author is there because it may happen in a quotation para -->
<!ELEMENT para         (#PCDATA | %Inline.phrase; | %lang; | author)*>
<!ATTLIST para
          role CDATA #IMPLIED>
<!ELEMENT pre          (#PCDATA | %Inline.phrase; | %lang; | author)*>
<!ATTLIST pre          xml:space (preserve) #FIXED 'preserve'>

<!ELEMENT menu (menuentry | detailmenu | para)*>
<!ELEMENT detailmenu (menuentry | para)*>
<!ELEMENT menuentry (menunode?, menutitle?, menucomment?)>
<!ELEMENT menunode (#PCDATA)>
<!ELEMENT menutitle (#PCDATA)>
<!ELEMENT menucomment (#PCDATA | %Inline.phrase;)*>

<!-- Negative indentation in blocks -->
<!ELEMENT exdent       (#PCDATA | %Inline.phrase;)*>

<!ELEMENT verbatiminclude (#PCDATA)>
<!ATTLIST verbatiminclude
          file CDATA #REQUIRED>

<!-- Floating displays -->
<!ELEMENT float (floattype?, floatname?, (%block;)*,
                (caption | shortcaption)?)>
<!ATTLIST float
          name CDATA #IMPLIED
          type CDATA #IMPLIED>
<!ELEMENT floattype (#PCDATA | %Inline.phrase;)*>
<!ELEMENT floatname (#PCDATA | %Inline.phrase;)*>
<!ELEMENT caption (#PCDATA | %block;)*>
<!ELEMENT shortcaption (#PCDATA | %Inline.phrase; | para)*>
<!ELEMENT listoffloats (#PCDATA | %Inline.phrase;)*>
<!ATTLIST listoffloats
          type CDATA #IMPLIED>

<!-- Lists -->
<!ELEMENT itemize (itemprepend?, (listitem | itemize | enumerate | %indexentry.cmds;)*)>
<!ATTLIST itemize
          commandarg CDATA #IMPLIED>
<!ELEMENT enumerate (listitem | itemize | enumerate | %indexentry.cmds;)*>
<!ATTLIST enumerate
          first CDATA #IMPLIED>

<!ELEMENT listitem (prepend?, (%block;)*)>
<!ELEMENT prepend (#PCDATA | %Inline.phrase;)*>

<!ELEMENT itemprepend (#PCDATA | %Inline.phrase;)*>

<!-- Tables -->
<!ELEMENT table (tableentry | %indexentry.cmds;)+>
<!ATTLIST table
          commandarg CDATA #IMPLIED>
<!ELEMENT vtable (tableentry | %indexentry.cmds;)+>
<!ATTLIST vtable
          commandarg CDATA #IMPLIED>
<!ELEMENT ftable (tableentry | %indexentry.cmds;)+>
<!ATTLIST ftable
          commandarg CDATA #IMPLIED>
<!ELEMENT tableentry (tableterm, tableitem?)>
<!ELEMENT tableterm (item,  (itemx | %indexentry.cmds;)*)>
<!ELEMENT item (#PCDATA | %Inline.phrase; | itemformat | indexterm)*>
<!ELEMENT itemx (#PCDATA | %Inline.phrase; | itemformat | indexterm)*>
<!ELEMENT itemformat (#PCDATA | %Inline.phrase; | indexterm)*>
<!ATTLIST itemformat
          command   CDATA #REQUIRED>
<!ELEMENT tableitem (#PCDATA | %block;)*>

<!ELEMENT multitable ((columnfractions | columnprototypes), thead?, tbody)>
<!ELEMENT columnfractions (columnfraction+)>
<!ELEMENT columnprototypes (columnprototype+)>
<!ELEMENT columnfraction EMPTY>
<!ATTLIST columnfraction
          value CDATA #REQUIRED>
<!ELEMENT columnprototype (#PCDATA | %Inline.phrase;)*>
<!ELEMENT thead (row+)>
<!ELEMENT tbody (row+)>
<!ELEMENT row (entry*)>
<!ELEMENT entry (#PCDATA | %block;)*>
<!ATTLIST entry
          command   CDATA #REQUIRED>

<!-- API definitions -->
<!ELEMENT definition (definitionterm | definitionitem | indexterm)+>
<!ELEMENT definitionterm (%definition.cmds; | indexterm)+>
<!ELEMENT definitionitem (%block;)*>

<!ELEMENT defcategory  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT deffunction  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defvariable  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defparam     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defdelimiter (#PCDATA | %Inline.phrase;)*>
<!ELEMENT deftype      (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defparamtype (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defdatatype  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defclass     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defclassvar  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defoperation (#PCDATA | %Inline.phrase;)*>


<!-- emacs-page
     Inline elements -->

<!ELEMENT hyphenation (#PCDATA)>

<!-- options -->
<!ELEMENT frenchspacing (#PCDATA)> <!-- must be on or off -->
<!ATTLIST frenchspacing value (%onoff;) 'off'>

<!-- emphasize -->
<!ELEMENT strong (#PCDATA | %Inline.phrase;)*>
<!ELEMENT emph   (#PCDATA | %Inline.phrase;)*>

<!-- small caps -->
<!ELEMENT sc (#PCDATA | %Inline.phrase;)*>

<!-- fonts -->
<!ELEMENT b  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT i  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT r  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT sansserif   (#PCDATA | %Inline.phrase;)*>
<!ELEMENT slanted     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT titlefont   (#PCDATA | %Inline.phrase;)*>
<!ELEMENT tt (#PCDATA | %Inline.phrase;)*>

<!-- markup -->
<!ELEMENT code    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT command (#PCDATA | %Inline.phrase;)*>
<!ELEMENT env     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT file    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT option  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT samp    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT dfn     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT cite    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT key     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT kbd     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT var     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT url     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT clicksequence (#PCDATA | %Inline.phrase;)*>

<!ELEMENT acronym (acronymword, acronymdesc?)>
<!ELEMENT acronymword (#PCDATA | %Inline.phrase;)*>
<!ELEMENT acronymdesc (#PCDATA | %Inline.phrase;)*>

<!ELEMENT abbrev (abbrevword, abbrevdesc?)>
<!ELEMENT abbrevword (#PCDATA | %Inline.phrase;)*>
<!ELEMENT abbrevdesc (#PCDATA | %Inline.phrase;)*>

<!-- math -->
<!ELEMENT math    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT dmn     (#PCDATA | %Inline.phrase;)*>

<!-- reference -->
<!ELEMENT anchor (#PCDATA | %Inline.phrase;)*>
<!ATTLIST anchor
          name CDATA #IMPLIED>

<!ELEMENT xref (xrefnodename | xrefinfoname | xrefinfofile
                | xrefprintedname | xrefprinteddesc)*>
<!ELEMENT xrefnodename    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefinfoname    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefinfofile    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefprintedname (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefprinteddesc (#PCDATA | %Inline.phrase;)*>

<!ELEMENT inforef (inforefnodename | inforefrefname | inforefinfoname)*>
<!ELEMENT inforefnodename (#PCDATA | %Inline.phrase;)*>
<!ELEMENT inforefrefname  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT inforefinfoname (#PCDATA | %Inline.phrase;)*>

<!ELEMENT synindex  EMPTY>
<!ATTLIST synindex
          from      NMTOKEN #REQUIRED
          to        NMTOKEN #REQUIRED>
<!ELEMENT syncodeindex  EMPTY>
<!ATTLIST syncodeindex
          from      NMTOKEN #REQUIRED
          to        NMTOKEN #REQUIRED>
<!ELEMENT indexterm (#PCDATA | %Inline.phrase;)*>
<!ATTLIST indexterm
          index CDATA #IMPLIED>
<!ELEMENT indexcommand (indexterm)>
<!ATTLIST indexcommand
          command   CDATA #REQUIRED
          index     CDATA #REQUIRED>
<!ELEMENT cindex (indexterm)>
<!ATTLIST cindex 
          index     CDATA #REQUIRED>
<!ELEMENT findex (indexterm)>
<!ATTLIST findex 
          index     CDATA #REQUIRED>
<!ELEMENT kindex (indexterm)>
<!ATTLIST kindex 
          index     CDATA #REQUIRED>
<!ELEMENT pindex (indexterm)>
<!ATTLIST pindex 
          index     CDATA #REQUIRED>
<!ELEMENT tindex (indexterm)>
<!ATTLIST tindex 
          index     CDATA #REQUIRED>
<!ELEMENT vindex (indexterm)>
<!ATTLIST vindex 
          index     CDATA #REQUIRED>
<!ELEMENT printindex EMPTY>
<!ATTLIST printindex
          value     NMTOKEN #REQUIRED>

<!ELEMENT email (emailaddress, emailname?)>
<!ELEMENT emailaddress (#PCDATA | %Inline.phrase;)*>
<!ELEMENT emailname (#PCDATA | %Inline.phrase;)*>

<!ELEMENT uref (urefurl, urefdesc?, urefreplacement?)>
<!ELEMENT urefurl         (#PCDATA | %Inline.phrase;)*>
<!ELEMENT urefdesc        (#PCDATA | %Inline.phrase;)*>
<!ELEMENT urefreplacement (#PCDATA | %Inline.phrase;)*>

<!ELEMENT footnote (%block;)*>

<!-- space and accent commands -->
<!ELEMENT spacecmd EMPTY>
<!ATTLIST spacecmd
          type (%spacetype;) #IMPLIED>
<!ELEMENT accent (#PCDATA | accent | dotless)*>
<!ATTLIST accent
          type        CDATA #REQUIRED>
<!ELEMENT dotless (#PCDATA)>
<!ELEMENT click  EMPTY>
<!ATTLIST click
          command        CDATA #REQUIRED>
<!ELEMENT today EMPTY>


<!-- emacs-page
     Punctuation and special symbols.  -->

<!ELEMENT punct     (#PCDATA)>
<!ATTLIST punct
          end-of-sentence (yes|no) #IMPLIED>
<!ELEMENT logo      (#PCDATA)>
<!ELEMENT linebreak EMPTY>
<!ELEMENT noeos EMPTY>

<!ENTITY tex        "<logo>TeX</logo>">
<!ENTITY latex      "<logo>LaTeX</logo>">
<!ENTITY ellipsis   "&#x2026;">
<!ENTITY lt         "&#x3c;">
<!ENTITY gt         "&#x3e;">
<!ENTITY bullet     "&#x2022;">
<!ENTITY copyright  "&#xa9;">
<!ENTITY registered "&#xae;">
<!ENTITY euro       "&#x20ac;">
<!ENTITY pounds     "&#xa3;">
<!ENTITY minus      "&#x2212;">
<!ENTITY linebreak  "<linebreak/>">
<!ENTITY dots       "<punct end-of-sentence='no'>&#x2026;</punct>">
<!ENTITY enddots    "<punct end-of-sentence='yes'>&#x2026;</punct>">
<!ENTITY amp        "&#x26;">
<!ENTITY lsquo      "&#x2018;">
<!ENTITY rsquo      "&#x2019;">
<!ENTITY sbquo      "&#x201a;">
<!ENTITY ldquo      "&#x201c;">
<!ENTITY textldquo      "&#x201c;">
<!ENTITY rdquo      "&#x201d;">
<!ENTITY textrdquo      "&#x201d;">
<!ENTITY bdquo      "&#x201e;">
<!ENTITY laquo      "&#xab;">
<!ENTITY raquo      "&#xbb;">
<!ENTITY lsaquo     "&#x2039;">
<!ENTITY rsaquo     "&#x203a;">
<!ENTITY textmdash      "&#x2014;">
<!ENTITY textndash      "&#x2013;">
<!ENTITY period     "<punct end-of-sentence='no'>.</punct>">
<!ENTITY eosperiod  "<punct end-of-sentence='yes'>.</punct>">
<!ENTITY quest      "<punct end-of-sentence='no'>?</punct>">
<!ENTITY eosquest   "<punct end-of-sentence='yes'>?</punct>">
<!ENTITY excl       "<punct end-of-sentence='no'>!</punct>">
<!ENTITY eosexcl    "<punct end-of-sentence='yes'>!</punct>">
<!ENTITY hyphenbreak "&#x00ad;">
<!ENTITY slashbreak "/">
<!ENTITY noeos      "<noeos/>">
<!ENTITY arobase    "@">
<!ENTITY lbrace     "}">
<!ENTITY rbrace     "{">
<!ENTITY nbsp       "&#xa0;">

<!ENTITY auml "&#xe4;">
<!ENTITY ouml "&#xf6;">
<!ENTITY uuml "&#xfc;">
<!ENTITY Auml "&#xc4;">
<!ENTITY Ouml "&#xd6;">
<!ENTITY Uuml "&#xdc;">
<!ENTITY Euml "&#xcb;">
<!ENTITY euml "&#xeb;">
<!ENTITY Iuml "&#xcf;">
<!ENTITY iuml "&#xef;">
<!ENTITY yuml "&#xff;">
<!ENTITY uml  "&#xa8;">

<!ENTITY Aacute "&#xc1;">
<!ENTITY Eacute "&#xc9;">
<!ENTITY Iacute "&#xcd;">
<!ENTITY Oacute "&#xd3;">
<!ENTITY Uacute "&#xda;">
<!ENTITY Yacute "&#xdd;">
<!ENTITY aacute "&#xe1;">
<!ENTITY eacute "&#xe9;">
<!ENTITY iacute "&#xed;">
<!ENTITY oacute "&#xf3;">
<!ENTITY uacute "&#xfa;">
<!ENTITY yacute "&#xfd;">

<!ENTITY ccedil "&#xe7;">
<!ENTITY Ccedil "&#xc7;">

<!ENTITY Acirc "&#xc2;">
<!ENTITY Ecirc "&#xca;">
<!ENTITY Icirc "&#xc3;">
<!ENTITY Ocirc "&#xd4;">
<!ENTITY Ucirc "&#xdb;">
<!ENTITY acirc "&#xe2;">
<!ENTITY ecirc "&#xea;">
<!ENTITY icirc "&#xee;">
<!ENTITY ocirc "&#xf4;">
<!ENTITY ucirc "&#xfb;">

<!ENTITY Agrave "&#xc0;">
<!ENTITY Egrave "&#xc8;">
<!ENTITY Igrave "&#xcc;">
<!ENTITY Ograve "&#xd2;">
<!ENTITY Ugrave "&#xd9;">
<!ENTITY agrave "&#xe0;">
<!ENTITY egrave "&#xe8;">
<!ENTITY igrave "&#xec;">
<!ENTITY ograve "&#xf2;">
<!ENTITY ugrave "&#xf9;">

<!ENTITY Atilde "&#xc3;">
<!ENTITY Ntilde "&#xd1;">
<!ENTITY Otilde "&#xd5;">
<!ENTITY atilde "&#xe3;">
<!ENTITY ntilde "&#xf1;">
<!ENTITY otilde "&#xf5;">

<!ENTITY oslash "&#xf8;">
<!ENTITY Oslash "&#xd8;">

<!ENTITY ordm "&#xba;">
<!ENTITY ordf "&#xaa;">

<!ENTITY iexcl "&#xa1;">
<!ENTITY pound "&#xa3;">
<!ENTITY iquest "&#xbf;">
<!ENTITY AElig "&#xc6;">
<!ENTITY aelig "&#xe6;">
<!ENTITY OElig "&#x152;">
<!ENTITY oelig "&#x153;">
<!ENTITY Aring "&#xc5;">
<!ENTITY aring "&#xe5;">
<!ENTITY szlig "&#xdf;">

<!ENTITY rarr "&#x2192;">
<!ENTITY rArr "&#x21d2;">

<!ENTITY macr "&#xaf;">

<!ENTITY backslash  "\">
