util/texinfo.dtd

<!-- $Id: texinfo.dtd,v 1.19 2011/09/14 22:59:44 pertusus Exp $
  Document Type Definition for Texinfo XML output (the '-'-xml option).

  Copyright 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
  2011 Free Software Foundation, Inc.

  Copying and distribution of this file, with or without modification,
  are permitted in any medium without royalty provided the copyright
  notice and this notice are preserved.

  Original author: Philippe Martin.
-->

<!-- * ENTITIES * -->

<!-- Meta-information -->
<!ENTITY % metainformation "setfilename | settitle | dircategory | hyphenation
                            | documentdescription | copying | titlepage
                            | shorttitlepage">
<!ENTITY % variables "setvalue | clearvalue">

<!-- Unique options -->
<!ENTITY % uniqueoption.cmds "novalidate | setcontentsaftertitlepage 
   | setshortcontentsaftertitlepage | documentencoding 
   | everyheadingmarks | everyfootingmarks | evenheadingmarks | oddheadingmarks
   | evenfootingmarks | oddfootingmarks | fonttextsize | pagesizes
   | setchapternewpage">

<!ENTITY % globaloption.cmds "synindex | syncodeindex">

<!-- Options (many missing) -->
<!ENTITY % multipleoption.cmds "frenchspacing | documentlanguage | %variables;">

<!ENTITY % option.cmds "%uniqueoption.cmds; | %globaloption.cmds; | %multipleoption.cmds;">

<!-- ToC -->
<!ENTITY % toc "contents | shortcontents">

<!-- Title page -->
<!ENTITY % titlepage_cmds "author | title | subtitle">

<!-- index entry commands -->
<!ENTITY % indexentry.cmds "cindex | kindex | pindex | tindex | vindex | indexcommand">

<!-- API definition commands -->
<!ENTITY % def.cmds "deffn | defvr | deftypefn | deftypeop | deftypevr
      | defcv | deftypecv | defop | deftp | defun | defmac 
      | defspec | defvar | defopt | deftypefun | deftypevar 
      | defivar | deftypeivar | defmethod | deftypemethod">

<!ENTITY % raw.cmds "html | tex | docbook">

<!-- Block -->
<!ENTITY % block "menu | para | pre | quotation | smallquotation
                  | example | smallexample | lisp | smalllisp
                  | cartouche 
                  | format | smallformat
                  | display | smalldisplay
                  | raggedright | flushleft | flushright
                  | itemize | enumerate | sp | titlefont | center | group
                  | table | vtable | ftable | multitable | definition | float | image
                  | %indexentry.cmds; | %def.cmds; | %multipleoption.cmds;
                  | %raw.cmds; | anchor
                  | verbatim | verbatiminclude | insertcopying | listoffloats">

<!-- API definition line -->
<!ENTITY % definition.args "defcategory | deffunction | defvariable | defparam
                          | defdelimiter | deftype | defparamtype | defdatatype
                          | defclass | defclassvar | defoperation">

<!ENTITY % xref.args "xrefnodename | xrefinfoname | xrefinfofile
                | xrefprintedname | xrefprinteddesc">
<!-- Headings -->
<!ENTITY % headings "majorheading | chapheading | heading | subheading
                     | subsubheading">

<!-- Language codes -->
<!ENTITY % languagecodes "aa|ab|af|am|ar|as|ay|az|ba|be|bg|bh|bi|bn|bo|br|ca|co|cs|cy|da|de|dz|el|en|eo|es|et|eu|fa|fi|fj|fo|fr|fy|ga|gd|gl|gn|gu|ha|he|hi|hr|hu|hy|ia|id|ie|ik|is|it|iu|ja|jw|ka|kk|kl|km|kn|ko|ks|ku|ky|la|ln|lo|lt|lv|mg|mi|mk|ml|mn|mo|mr|ms|mt|my|na|ne|nl|no|oc|om|or|pa|pl|ps|pt|qu|rm|rn|ro|ru|rw|sa|sd|sg|sh|si|sk|sl|sm|sn|so|sq|sr|ss|st|su|sv|sw|ta|te|tg|th|ti|tk|tl|tn|to|tr|ts|tt|tw|ug|uk|ur|uz|vi|vo|wo|xh|yi|yo|za|zh|zu">

<!-- Sectioning -->
<!ENTITY % section.level1 "top | part | chapter | unnumbered | centerchap | appendix">

<!ENTITY % section.level2 "section | unnumberedsec | appendixsec">

<!ENTITY % section.level3 "subsection | unnumberedsubsec | appendixsubsec">

<!ENTITY % section.level4 "subsubsection | unnumberedsubsubsec 
                           | appendixsubsubsec">

<!ENTITY % section.all "%section.level1; | %section.level2; | %section.level3;
                        | %section.level4;">


<!-- toplevel content -->
<!ENTITY % main.content "(%block; | %toc; | %uniqueoption.cmds;
   | %globaloption.cmds; | node | %headings; | printindex)*">

<!ENTITY % section.level0.content "(%main.content;
                                   | %section.level1;
                                   | %section.level2;
                                   | %section.level3;
                                   | %section.level4;)*">


<!ENTITY % section.level1.content "(%main.content;
                                   | %section.level2;
                                   | %section.level3;
                                   | %section.level4;)*">

<!ENTITY % section.level2.content "(%main.content;
                                   | %section.level3;
                                   | %section.level4;)*">

<!ENTITY % section.level3.content "(%main.content;
                                   | %section.level4;)*">

<!ENTITY % section.level4.content "(%main.content;)*">

<!-- arguments/attribute values -->
<!ENTITY % onoff "on|off">
<!ENTITY % spacetype "spc|tab|nl">
<!ENTITY % topbottom "top|bottom">

<!-- Inline -->
<!ENTITY % Inline.emphasize "strong | emph">
<!ENTITY % Inline.fonts "b | i | r | sansserif | slanted | tt
                         | sc">
<!ENTITY % Inline.footnote "footnote">
<!ENTITY % Inline.markup "code | command | env | file | option | samp | verb
                          | dfn | cite | key | kbd | var | acronym | url"> 
<!ENTITY % Inline.math "math | dmn">
<!ENTITY % Inline.reference "xref | ref | pxref | inforef | email | uref">
<!ENTITY % Inline.misc "click | clicksequence | logo | punct | spacecmd | today
                        | linebreak | accent | dotless">

<!-- on lines -->
<!ENTITY % Inline.line "%Inline.emphasize;  | %Inline.misc; | %Inline.fonts;
          | %Inline.markup;   | %Inline.math; | %Inline.reference;
          | %Inline.footnote;">
<!-- in paragraphs -->
<!ENTITY % Inline.phrase
           "%Inline.line; | %indexentry.cmds; | %option.cmds; | %raw.cmds; 
           | anchor">


<!-- ELEMENTS -->

<!-- TOP Level Element -->
<!ELEMENT texinfo (filename?, preamble?, (%metainformation;
                    | %section.all; | %main.content;)*, bye? )>
<!ATTLIST texinfo xml:lang (%languagecodes;) 'en'>

<!-- meta-information -->
<!ELEMENT setfilename (#PCDATA  | %Inline.line;)*>
<!ATTLIST setfilename
          file   CDATA #IMPLIED>
<!ELEMENT filename EMPTY>
<!ATTLIST filename
          file   CDATA #IMPLIED>
<!ELEMENT settitle    (#PCDATA | %Inline.line;)*>
<!ELEMENT dircategory (#PCDATA | %Inline.line;)*>

<!ELEMENT setvalue    (#PCDATA)>
<!ELEMENT clearvalue  EMPTY>
<!ATTLIST setvalue
                name CDATA #REQUIRED>
<!ATTLIST clearvalue
                name CDATA #REQUIRED>

<!-- preamble -->
<!ELEMENT preamble (#PCDATA)>

<!-- ToC -->
<!ELEMENT contents      EMPTY>
<!ELEMENT shortcontents EMPTY>

<!-- Global unique options -->
<!ELEMENT novalidate EMPTY>
<!ELEMENT setcontentsaftertitlepage EMPTY>
<!ELEMENT setshortcontentsaftertitlepage EMPTY>
<!ELEMENT documentencoding (#PCDATA)>
<!ATTLIST documentencoding
          encoding CDATA #REQUIRED>
<!ELEMENT everyheadingmarks EMPTY>
<!ATTLIST everyheadingmarks
          value (%topbottom;) #REQUIRED>
<!--
everyheadingmarks | everyfootingmarks | evenheadingmarks | oddheadingmarks |
   | evenfootingmarks | oddfootingmarks | fonttextsize | pagesizes
   | setchapternewpage">
-->

<!-- Global options -->
<!ELEMENT documentlanguage (#PCDATA)>
<!ATTLIST documentlanguage xml:lang (%languagecodes;) 'en'>
<!ELEMENT frenchspacing (#PCDATA)> <!-- must be on or off -->
<!ATTLIST frenchspacing value (%onoff;) 'off'>

<!-- Titlepage -->
<!ELEMENT titlepage    (%titlepage_cmds; | %block;)*>
<!ELEMENT author       (#PCDATA | %Inline.line;)*>
<!ELEMENT title    (#PCDATA | %Inline.line;)*>
<!ELEMENT subtitle (#PCDATA | %Inline.line;)*>

<!-- Explicit blank lines -->
<!ELEMENT sp (#PCDATA)>
<!ATTLIST sp
          lines CDATA #IMPLIED>

<!ELEMENT insertcopying EMPTY>

<!-- emacs-page
     Nodes -->
<!ELEMENT node (nodename, nodenext?, nodeprev?, nodeup?,
                (%section.all; | %main.content;)*) >
<!ATTLIST node
          name CDATA #IMPLIED>

<!ELEMENT nodename (#PCDATA)>
<!ELEMENT nodenext (#PCDATA)>
<!ATTLIST nodenext
          automatic (%onoff;) 'off'>
<!ELEMENT nodeprev (#PCDATA)>
<!ATTLIST nodeprev
          automatic (%onoff;) 'off'>
<!ELEMENT nodeup   (#PCDATA)>
<!ATTLIST nodeup
          automatic (%onoff;) 'off'>


<!-- Sectioning -->
<!ELEMENT top           (sectiontitle?, (%section.level0.content;))>
<!ATTLIST top
          originalcommand CDATA #IMPLIED>
<!ELEMENT part          (sectiontitle?, (%section.level0.content;))>
<!ATTLIST part
          originalcommand CDATA #IMPLIED>

<!ELEMENT chapter       (sectiontitle?, (%section.level1.content;))>
<!ATTLIST chapter
          originalcommand CDATA #IMPLIED>
<!ELEMENT section       (sectiontitle?, (%section.level2.content;))>
<!ATTLIST section
          originalcommand CDATA #IMPLIED>
<!ELEMENT subsection    (sectiontitle?, (%section.level3.content;))>
<!ATTLIST subsection
          originalcommand CDATA #IMPLIED>
<!ELEMENT subsubsection (sectiontitle?, (%section.level4.content;))>
<!ATTLIST subsubsection
          originalcommand CDATA #IMPLIED>

<!ELEMENT unnumbered          (sectiontitle?, (%section.level1.content;))>
<!ATTLIST unnumbered
          originalcommand CDATA #IMPLIED>
<!ELEMENT unnumberedsec       (sectiontitle?, (%section.level2.content;))>
<!ATTLIST unnumberedsec
          originalcommand CDATA #IMPLIED>
<!ELEMENT unnumberedsubsec    (sectiontitle?, (%section.level3.content;))>
<!ATTLIST unnumberedsubsec
          originalcommand CDATA #IMPLIED>
<!ELEMENT unnumberedsubsubsec (sectiontitle?, (%section.level4.content;))>
<!ATTLIST unnumberedsubsubsec
          originalcommand CDATA #IMPLIED>
<!ELEMENT centerchap          (sectiontitle?, (%section.level1.content;))>
<!ATTLIST centerchap
          originalcommand CDATA #IMPLIED>

<!ELEMENT appendix          (sectiontitle?, (%section.level1.content;))>
<!ATTLIST appendix
          originalcommand CDATA #IMPLIED>
<!ELEMENT appendixsec       (sectiontitle?, (%section.level2.content;))>
<!ATTLIST appendixsec
          originalcommand CDATA #IMPLIED>
<!ELEMENT appendixsubsec    (sectiontitle?, (%section.level3.content;))>
<!ATTLIST appendixsubsec
          originalcommand CDATA #IMPLIED>
<!ELEMENT appendixsubsubsec (sectiontitle?, (%section.level4.content;))>
<!ATTLIST appendixsubsubsec
          originalcommand CDATA #IMPLIED>

<!-- Headings and titles -->
<!ELEMENT majorheading  (#PCDATA | %Inline.line;)*>
<!ELEMENT chapheading   (#PCDATA | %Inline.line;)*>
<!ELEMENT heading       (#PCDATA | %Inline.line;)*>
<!ELEMENT subheading    (#PCDATA | %Inline.line;)*>
<!ELEMENT subsubheading (#PCDATA | %Inline.line;)*>
<!ELEMENT sectiontitle  (#PCDATA | %Inline.line;)*>


<!-- emacs-page
     Block elements -->

<!ELEMENT quotation    (quotationtype?, (%block; | exdent | author)*)>
<!ELEMENT smallquotation    (quotationtype?, (%block; | exdent | author)*)>
<!ELEMENT quotationtype (#PCDATA | %Inline.line;)*>
<!ELEMENT documentdescription (#PCDATA | %block;)*>
<!ELEMENT example      (#PCDATA | %block; | exdent)*>
<!ELEMENT smallexample (#PCDATA | %block; | exdent)*>
<!ELEMENT lisp         (#PCDATA | %block; | exdent)*>
<!ELEMENT smalllisp    (#PCDATA | %block; | exdent)*>
<!ELEMENT cartouche    (#PCDATA | %block; | exdent)*>
<!ELEMENT copying      (#PCDATA | %block; | exdent)*>
<!ELEMENT format       (#PCDATA | %block; | exdent)*>
<!ELEMENT smallformat  (#PCDATA | %block; | exdent)*>
<!ELEMENT display      (#PCDATA | %block; | exdent)*>
<!ELEMENT smalldisplay (#PCDATA | %block; | exdent)*>
<!ELEMENT center       (#PCDATA | %Inline.line;)*>
<!ELEMENT group        (#PCDATA | %block; | exdent)*>
<!ELEMENT flushleft    (#PCDATA | %block; | exdent)*>
<!ELEMENT flushright   (#PCDATA | %block; | exdent)*>

<!ELEMENT image        (alttext)>
<!ELEMENT alttext      (#PCDATA)>
<!ATTLIST image
            name      CDATA #REQUIRED
            extension CDATA #REQUIRED
            width     CDATA #REQUIRED
            height    CDATA #REQUIRED>

<!-- Whitespace in these elements are always preserved -->
<!ELEMENT verbatim     (#PCDATA)>
<!ATTLIST verbatim     xml:space (preserve) #FIXED 'preserve'>

<!-- author is there because it may happen in a quotation para -->
<!ELEMENT para         (#PCDATA | %Inline.phrase; | author)*>
<!ATTLIST para
          role CDATA #IMPLIED>
<!ELEMENT pre          (#PCDATA | %Inline.phrase; | author)*>
<!ATTLIST pre          xml:space (preserve) #FIXED 'preserve'>

<!ELEMENT menu (menuentry | detailmenu | menucomment)*>
<!ELEMENT detailmenu (menuentry | menucomment)*>
<!ELEMENT menuentry (menunode?, menutitle?, menudescription?)>
<!ELEMENT menunode (#PCDATA | %Inline.line;)*>
<!ELEMENT menutitle (#PCDATA | %Inline.line;)*>
<!ELEMENT menudescription (%block;)*>
<!ELEMENT menucomment (%block;)*>

<!-- Raw formats -->
<!ELEMENT docbook (#PCDATA)>
<!ELEMENT html (#PCDATA)>
<!ELEMENT tex (#PCDATA)>

<!-- Negative indentation in blocks -->
<!ELEMENT exdent       (#PCDATA | %Inline.phrase;)*>

<!ELEMENT verbatiminclude (#PCDATA)>
<!ATTLIST verbatiminclude
          file CDATA #REQUIRED>

<!-- Floating displays -->
<!ELEMENT float (floattype?, floatname?, (%block;)*,
                (caption | shortcaption)?)>
<!ATTLIST float
          name CDATA #IMPLIED
          type CDATA #IMPLIED>
<!ELEMENT floattype (#PCDATA | %Inline.phrase;)*>
<!ELEMENT floatname (#PCDATA | %Inline.phrase;)*>
<!ELEMENT caption (#PCDATA | %block;)*>
<!ELEMENT shortcaption (#PCDATA | %Inline.phrase; | para)*>
<!ELEMENT listoffloats (#PCDATA | %Inline.phrase;)*>
<!ATTLIST listoffloats
          type CDATA #IMPLIED>

<!-- Lists -->
<!ELEMENT itemize (itemprepend?, (listitem | itemize | enumerate | %indexentry.cmds;)*)>
<!ATTLIST itemize
          commandarg CDATA #IMPLIED>
<!ELEMENT enumerate (listitem | itemize | enumerate | %indexentry.cmds;)*>
<!ATTLIST enumerate
          first CDATA #IMPLIED>

<!ELEMENT listitem (prepend?, (%block;)*)>
<!ELEMENT prepend (#PCDATA | %Inline.phrase;)*>

<!ELEMENT itemprepend (#PCDATA | %Inline.phrase;)*>

<!-- Tables -->
<!ELEMENT table (tableentry | %indexentry.cmds;)+>
<!ATTLIST table
          commandarg CDATA #IMPLIED>
<!ELEMENT vtable (tableentry | %indexentry.cmds;)+>
<!ATTLIST vtable
          commandarg CDATA #IMPLIED>
<!ELEMENT ftable (tableentry | %indexentry.cmds;)+>
<!ATTLIST ftable
          commandarg CDATA #IMPLIED>
<!ELEMENT tableentry (tableterm, tableitem?)>
<!ELEMENT tableterm (item,  (itemx | %indexentry.cmds;)*)>
<!ELEMENT item (#PCDATA | %Inline.phrase; | itemformat | indexterm)*>
<!ELEMENT itemx (#PCDATA | %Inline.phrase; | itemformat | indexterm)*>
<!ELEMENT itemformat (#PCDATA | %Inline.phrase; | indexterm)*>
<!ATTLIST itemformat
          command   CDATA #REQUIRED>
<!ELEMENT tableitem (#PCDATA | %block;)*>

<!ELEMENT multitable ((columnfractions | columnprototypes), thead?, tbody)>
<!ELEMENT columnfractions (columnfraction+)>
<!ELEMENT columnprototypes (columnprototype+)>
<!ELEMENT columnfraction EMPTY>
<!ATTLIST columnfraction
          value CDATA #REQUIRED>
<!ELEMENT columnprototype (#PCDATA | %Inline.phrase;)*>
<!ELEMENT thead (row+)>
<!ELEMENT tbody (row+)>
<!ELEMENT row (entry*)>
<!ELEMENT entry (#PCDATA | %block;)*>
<!ATTLIST entry
          command   CDATA #REQUIRED>

<!-- API definitions -->
<!ELEMENT deffn (definitionterm, deffnx*, definitionitem?)>
<!ELEMENT deffnx (definitionterm)>
<!ELEMENT defvr (definitionterm, defvrx*, definitionitem?)>
<!ELEMENT defvrx (definitionterm)>
<!ELEMENT deftypefn (definitionterm, deftypefnx*, definitionitem?)>
<!ELEMENT deftypefnx (definitionterm)>
<!ELEMENT deftypeop (definitionterm, deftypeopx*, definitionitem?)>
<!ELEMENT deftypeopx (definitionterm)>
<!ELEMENT deftypevr (definitionterm, deftypevrx*, definitionitem?)>
<!ELEMENT deftypevrx (definitionterm)>
<!ELEMENT defcv (definitionterm, defcvx*, definitionitem?)>
<!ELEMENT defcvx (definitionterm)>
<!ELEMENT deftypecv (definitionterm, deftypecvx*, definitionitem?)>
<!ELEMENT deftypecvx (definitionterm)>
<!ELEMENT defop (definitionterm, defopx*, definitionitem?)>
<!ELEMENT defopx (definitionterm)>
<!ELEMENT deftp (definitionterm, deftpx*, definitionitem?)>
<!ELEMENT deftpx (definitionterm)>
<!ELEMENT defun (definitionterm, defunx*, definitionitem?)>
<!ELEMENT defunx (definitionterm)>
<!ELEMENT defmac (definitionterm, defmacx*, definitionitem?)>
<!ELEMENT defmacx (definitionterm)>
<!ELEMENT defspec (definitionterm, defspecx*, definitionitem?)>
<!ELEMENT defspecx (definitionterm)>
<!ELEMENT defvar (definitionterm, defvarx*, definitionitem?)>
<!ELEMENT defvarx (definitionterm)>
<!ELEMENT defopt (definitionterm, defoptx*, definitionitem?)>
<!ELEMENT defoptx (definitionterm)>
<!ELEMENT deftypefun (definitionterm, deftypefunx*, definitionitem?)>
<!ELEMENT deftypefunx (definitionterm)>
<!ELEMENT deftypevar (definitionterm, deftypevarx*, definitionitem?)>
<!ELEMENT deftypevarx (definitionterm)>
<!ELEMENT defivar (definitionterm, defivarx*, definitionitem?)>
<!ELEMENT defivarx (definitionterm)>
<!ELEMENT deftypeivar (definitionterm, deftypeivarx*, definitionitem?)>
<!ELEMENT deftypeivarx (definitionterm)>
<!ELEMENT defmethod (definitionterm, defmethodx*, definitionitem?)>
<!ELEMENT defmethodx (definitionterm)>
<!ELEMENT deftypemethod (definitionterm, deftypemethodx*, definitionitem?)>
<!ELEMENT deftypemethodx (definitionterm)>

<!--
<!ELEMENT definition (definitionterm | definitionitem | indexterm)+>
<!ELEMENT definitionterm (%definition.args; | indexterm)+>
-->
<!ELEMENT definitionterm (indexterm?, (%definition.args;)+)>
<!ELEMENT definitionitem (%block;)*>

<!ELEMENT defcategory  (#PCDATA | %Inline.phrase;)*>
<!ATTLIST defcategory
          automatic (%onoff;) 'off'>
<!ELEMENT deffunction  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defvariable  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defparam     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defdelimiter (#PCDATA | %Inline.phrase;)*>
<!ELEMENT deftype      (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defparamtype (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defdatatype  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defclass     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defclassvar  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT defoperation (#PCDATA | %Inline.phrase;)*>

<!-- emacs-page
     Inline elements -->

<!ELEMENT hyphenation (#PCDATA)>

<!-- emphasize -->
<!ELEMENT strong (#PCDATA | %Inline.phrase;)*>
<!ELEMENT emph   (#PCDATA | %Inline.phrase;)*>

<!-- small caps -->
<!ELEMENT sc (#PCDATA | %Inline.phrase;)*>

<!-- fonts -->
<!ELEMENT b  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT i  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT r  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT sansserif   (#PCDATA | %Inline.phrase;)*>
<!ELEMENT slanted     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT titlefont   (#PCDATA | %Inline.phrase;)*>
<!ELEMENT t (#PCDATA | %Inline.phrase;)*>

<!-- markup -->
<!ELEMENT code    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT command (#PCDATA | %Inline.phrase;)*>
<!ELEMENT env     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT file    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT option  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT samp    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT dfn     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT cite    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT key     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT kbd     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT var     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT url     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT clicksequence (#PCDATA | %Inline.phrase;)*>
<!ELEMENT w       (#PCDATA | %Inline.phrase;)*>
<!ELEMENT asis    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT verb    (#PCDATA)>
<!ATTLIST verb
          delimiter CDATA #REQUIRED>

<!ELEMENT acronym (acronymword, acronymdesc?)>
<!ELEMENT acronymword (#PCDATA | %Inline.phrase;)*>
<!ELEMENT acronymdesc (#PCDATA | %Inline.phrase;)*>

<!ELEMENT abbr (abbrevword, abbrevdesc?)>
<!ELEMENT abbrword (#PCDATA | %Inline.phrase;)*>
<!ELEMENT abbrdesc (#PCDATA | %Inline.phrase;)*>

<!-- math -->
<!ELEMENT math    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT dmn     (#PCDATA | %Inline.phrase;)*>

<!-- reference -->
<!ELEMENT anchor (#PCDATA | %Inline.phrase;)*>
<!ATTLIST anchor
          name CDATA #IMPLIED>


<!ELEMENT xref (%xref.args;)*>
<!ELEMENT ref (%xref.args;)*>
<!ELEMENT pxref (%xref.args;)*>

<!ELEMENT xrefnodename    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefinfoname    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefinfofile    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefprintedname (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefprinteddesc (#PCDATA | %Inline.phrase;)*>

<!ELEMENT inforef (inforefnodename | inforefrefname | inforefinfoname)*>
<!ELEMENT inforefnodename (#PCDATA | %Inline.phrase;)*>
<!ELEMENT inforefrefname  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT inforefinfoname (#PCDATA | %Inline.phrase;)*>

<!ELEMENT email (emailaddress, emailname?)>
<!ELEMENT emailaddress (#PCDATA | %Inline.phrase;)*>
<!ELEMENT emailname (#PCDATA | %Inline.phrase;)*>

<!ELEMENT uref (urefurl, urefdesc?, urefreplacement?)>
<!ELEMENT urefurl         (#PCDATA | %Inline.phrase;)*>
<!ELEMENT urefdesc        (#PCDATA | %Inline.phrase;)*>
<!ELEMENT urefreplacement (#PCDATA | %Inline.phrase;)*>

<!ELEMENT footnote (%block;)*>

<!-- index commands -->

<!ELEMENT synindex  EMPTY>
<!ATTLIST synindex
          from      NMTOKEN #REQUIRED
          to        NMTOKEN #REQUIRED>
<!ELEMENT syncodeindex  EMPTY>
<!ATTLIST syncodeindex
          from      NMTOKEN #REQUIRED
          to        NMTOKEN #REQUIRED>
<!ELEMENT indexterm (#PCDATA | %Inline.line;)*>
<!ATTLIST indexterm
          index CDATA #IMPLIED>
<!ELEMENT indexcommand (indexterm)>
<!ATTLIST indexcommand
          command   CDATA #REQUIRED
          index     CDATA #REQUIRED>
<!ELEMENT cindex (indexterm)>
<!ATTLIST cindex 
          index     CDATA #REQUIRED>
<!ELEMENT findex (indexterm)>
<!ATTLIST findex 
          index     CDATA #REQUIRED>
<!ELEMENT kindex (indexterm)>
<!ATTLIST kindex 
          index     CDATA #REQUIRED>
<!ELEMENT pindex (indexterm)>
<!ATTLIST pindex 
          index     CDATA #REQUIRED>
<!ELEMENT tindex (indexterm)>
<!ATTLIST tindex 
          index     CDATA #REQUIRED>
<!ELEMENT vindex (indexterm)>
<!ATTLIST vindex 
          index     CDATA #REQUIRED>
<!ELEMENT printindex EMPTY>
<!ATTLIST printindex
          value     NMTOKEN #REQUIRED>

<!-- misc -->

<!ELEMENT bye EMPTY>

<!-- space and accent commands -->
<!ELEMENT spacecmd EMPTY>
<!ATTLIST spacecmd
          type (%spacetype;) #IMPLIED>
<!ELEMENT accent (#PCDATA | accent | dotless)*>
<!ATTLIST accent
          type        CDATA #REQUIRED>
<!ELEMENT dotless (#PCDATA)>
<!ELEMENT click  EMPTY>
<!ATTLIST click
          command        CDATA #REQUIRED>
<!ELEMENT today EMPTY>


<!-- emacs-page
     Punctuation and special symbols.  -->

<!ELEMENT punct     (#PCDATA)>
<!ATTLIST punct
          end-of-sentence (yes|no) #IMPLIED>
<!ELEMENT logo      (#PCDATA)>
<!ELEMENT linebreak EMPTY>
<!ELEMENT noeos EMPTY>

<!ENTITY tex        "<logo>TeX</logo>">
<!ENTITY latex      "<logo>LaTeX</logo>">
<!ENTITY ellipsis   "&#x2026;">
<!ENTITY lt         "&#x3c;">
<!ENTITY gt         "&#x3e;">
<!ENTITY bullet     "&#x2022;">
<!ENTITY copyright  "&#xa9;">
<!ENTITY registered "&#xae;">
<!ENTITY euro       "&#x20ac;">
<!ENTITY pounds     "&#xa3;">
<!ENTITY minus      "&#x2212;">
<!ENTITY linebreak  "<linebreak/>">
<!ENTITY dots       "<punct end-of-sentence='no'>&#x2026;</punct>">
<!ENTITY enddots    "<punct end-of-sentence='yes'>&#x2026;</punct>">
<!ENTITY amp        "&#x26;">
<!ENTITY lsquo      "&#x2018;">
<!ENTITY rsquo      "&#x2019;">
<!ENTITY sbquo      "&#x201a;">
<!ENTITY ldquo      "&#x201c;">
<!ENTITY textldquo      "&#x201c;">
<!ENTITY rdquo      "&#x201d;">
<!ENTITY textrdquo      "&#x201d;">
<!ENTITY bdquo      "&#x201e;">
<!ENTITY laquo      "&#xab;">
<!ENTITY raquo      "&#xbb;">
<!ENTITY lsaquo     "&#x2039;">
<!ENTITY rsaquo     "&#x203a;">
<!ENTITY textmdash      "&#x2014;">
<!ENTITY textndash      "&#x2013;">
<!ENTITY period     "<punct end-of-sentence='no'>.</punct>">
<!ENTITY eosperiod  "<punct end-of-sentence='yes'>.</punct>">
<!ENTITY quest      "<punct end-of-sentence='no'>?</punct>">
<!ENTITY eosquest   "<punct end-of-sentence='yes'>?</punct>">
<!ENTITY excl       "<punct end-of-sentence='no'>!</punct>">
<!ENTITY eosexcl    "<punct end-of-sentence='yes'>!</punct>">
<!ENTITY hyphenbreak "&#x00ad;">
<!ENTITY slashbreak "/">
<!ENTITY noeos      "<noeos/>">
<!ENTITY arobase    "@">
<!ENTITY lbrace     "}">
<!ENTITY rbrace     "{">
<!ENTITY comma     ",">
<!ENTITY nbsp       "&#xa0;">
<!ENTITY deg        "&#xb0;">
<!ENTITY expansion  "&#x2192;">
<!ENTITY point      "&#x2605;">
<!ENTITY printglyph "&#x22a3;">
<!ENTITY errorglyph "error--&gt;">
<!ENTITY result     "&#x21d2;">
<!ENTITY le         "&#x2264;">
<!ENTITY ge         "&#x2265;">
<!ENTITY equiv      "&#x2261;">

<!ENTITY auml "&#xe4;">
<!ENTITY ouml "&#xf6;">
<!ENTITY uuml "&#xfc;">
<!ENTITY Auml "&#xc4;">
<!ENTITY Ouml "&#xd6;">
<!ENTITY Uuml "&#xdc;">
<!ENTITY Euml "&#xcb;">
<!ENTITY euml "&#xeb;">
<!ENTITY Iuml "&#xcf;">
<!ENTITY iuml "&#xef;">
<!ENTITY yuml "&#xff;">
<!ENTITY uml  "&#xa8;">

<!ENTITY Aacute "&#xc1;">
<!ENTITY Eacute "&#xc9;">
<!ENTITY Iacute "&#xcd;">
<!ENTITY Oacute "&#xd3;">
<!ENTITY Uacute "&#xda;">
<!ENTITY Yacute "&#xdd;">
<!ENTITY aacute "&#xe1;">
<!ENTITY eacute "&#xe9;">
<!ENTITY iacute "&#xed;">
<!ENTITY oacute "&#xf3;">
<!ENTITY uacute "&#xfa;">
<!ENTITY yacute "&#xfd;">

<!ENTITY ccedil "&#xe7;">
<!ENTITY Ccedil "&#xc7;">

<!ENTITY Acirc "&#xc2;">
<!ENTITY Ecirc "&#xca;">
<!ENTITY Icirc "&#xc3;">
<!ENTITY Ocirc "&#xd4;">
<!ENTITY Ucirc "&#xdb;">
<!ENTITY acirc "&#xe2;">
<!ENTITY ecirc "&#xea;">
<!ENTITY icirc "&#xee;">
<!ENTITY ocirc "&#xf4;">
<!ENTITY ucirc "&#xfb;">

<!ENTITY Agrave "&#xc0;">
<!ENTITY Egrave "&#xc8;">
<!ENTITY Igrave "&#xcc;">
<!ENTITY Ograve "&#xd2;">
<!ENTITY Ugrave "&#xd9;">
<!ENTITY agrave "&#xe0;">
<!ENTITY egrave "&#xe8;">
<!ENTITY igrave "&#xec;">
<!ENTITY ograve "&#xf2;">
<!ENTITY ugrave "&#xf9;">

<!ENTITY Atilde "&#xc3;">
<!ENTITY Ntilde "&#xd1;">
<!ENTITY Otilde "&#xd5;">
<!ENTITY atilde "&#xe3;">
<!ENTITY ntilde "&#xf1;">
<!ENTITY otilde "&#xf5;">

<!ENTITY oslash "&#xf8;">
<!ENTITY Oslash "&#xd8;">

<!ENTITY lslash "&#x0142;">
<!ENTITY Lslash "&#x0141;">

<!ENTITY THORN  "&#xde;">
<!ENTITY thorn  "&#xfe;">

<!ENTITY eth "&#xf0;">
<!ENTITY ETH "&#xd0;">

<!ENTITY ordm "&#xba;">
<!ENTITY ordf "&#xaa;">

<!ENTITY iexcl "&#xa1;">
<!ENTITY pound "&#xa3;">
<!ENTITY iquest "&#xbf;">
<!ENTITY AElig "&#xc6;">
<!ENTITY aelig "&#xe6;">
<!ENTITY OElig "&#x152;">
<!ENTITY oelig "&#x153;">
<!ENTITY Aring "&#xc5;">
<!ENTITY aring "&#xe5;">
<!ENTITY szlig "&#xdf;">

<!ENTITY rarr "&#x2192;">
<!ENTITY rArr "&#x21d2;">

<!ENTITY macr "&#xaf;">

<!ENTITY backslash  "\">
