util/texinfo.dtd

<!-- $Id: texinfo.dtd,v 1.24 2011/11/02 12:13:58 pertusus Exp $
  Document Type Definition for Texinfo XML output (the '-'-xml option).

  Copyright 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
  2011 Free Software Foundation, Inc.

  Copying and distribution of this file, with or without modification,
  are permitted in any medium without royalty provided the copyright
  notice and this notice are preserved.

  Original author: Philippe Martin.
-->

<!-- * ENTITIES * -->

<!-- Meta-information -->
<!-- copying | titlepage could be there too -->
<!ENTITY % metainformation "setfilename | settitle | dircategory | direntry
                            | hyphenation
                            | documentdescription 
                            | shorttitlepage">
<!ENTITY % variable.cmds "setvalue | clearvalue">

<!-- Unique options -->
<!ENTITY % unique.option.cmds "novalidate | setcontentsaftertitlepage 
   | setshortcontentsaftertitlepage | documentencoding 
   | everyheadingmarks | everyfootingmarks | evenheadingmarks | oddheadingmarks
   | evenfootingmarks | oddfootingmarks | fonttextsize | pagesizes
   | setchapternewpage | footnotestyle

   | allowcodebreaks | exampleindent | afourpaper 
   | afivepaper | afourlatex | afourwide | headings
   | everyheading | everyfooting | evenheading | evenfooting | oddheading
   | oddfooting | smallbook | cropmarks">

<!-- Global options in the main text -->
<!ENTITY % global.option.cmds "synindex | syncodeindex
  | defindex | defcodeindex | definfoenclose | alias">

<!-- Options -->
<!ENTITY % multiple.option.cmds "frenchspacing | documentlanguage 
    | %variable.cmds; | kbdinputstyle | paragraphindent 
    | firstparagraphindent | urefbreakstyle | xrefautomaticsectiontitle
    | codequoteundirected | codequotebacktick | raisesections
    | lowersections | clickstyle">

<!ENTITY % option.cmds "%unique.option.cmds; | %global.option.cmds; 
               | %multiple.option.cmds;">

<!-- ToC -->
<!ENTITY % toc "contents | shortcontents | summarycontents">

<!-- Title page -->
<!ENTITY % titlepage_cmds "author | title | subtitle">

<!-- index entry commands -->
<!ENTITY % indexentry.cmds "cindex | findex | kindex | pindex | tindex
  | vindex | indexcommand">

<!-- API definition commands -->
<!ENTITY % def.cmds "deffn | defvr | deftypefn | deftypeop | deftypevr
      | defcv | deftypecv | defop | deftp | defun | defmac 
      | defspec | defvar | defopt | deftypefun | deftypevar 
      | defivar | deftypeivar | defmethod | deftypemethod">

<!ENTITY % raw.cmds "html | tex | docbook | macro | rmacro | ignore">

<!-- Commands that appear everywhere, both with block and in paragraphs -->
<!ENTITY % ubiquitous.line.cmds "sp | anchor | indent | noindent | %raw.cmds; 
                 | %option.cmds;
                 | %indexentry.cmds; | refill | quote-arg | allow-recursion">

<!-- Block -->
<!ENTITY % block "menu | para | pre | quotation | smallquotation
                  | example | smallexample | lisp | smalllisp
                  | cartouche | float | format | smallformat
                  | display | smalldisplay | copying | titlepage
                  | raggedright | flushleft | flushright
                  | itemize | enumerate | titlefont | center | group
                  | table | vtable | ftable | multitable | definition 
                  | image
                  | %def.cmds; 
                  | %ubiquitous.line.cmds;
                  | verbatim | verbatiminclude | insertcopying | page | need
                  | vskip
                  | listoffloats">

<!-- API definition line -->
<!ENTITY % definition.args "defcategory | deffunction | defvariable | defparam
                          | defdelimiter | deftype | defparamtype | defdatatype
                          | defclass | defclassvar | defoperation">

<!-- Headings -->
<!ENTITY % heading.cmds "majorheading | chapheading | heading | subheading
                     | subsubheading">

<!-- Language codes -->
<!ENTITY % languagecodes "aa|ab|af|am|ar|as|ay|az|ba|be|bg|bh|bi|bn|bo|br|ca|co|cs|cy|da|de|dz|el|en|eo|es|et|eu|fa|fi|fj|fo|fr|fy|ga|gd|gl|gn|gu|ha|he|hi|hr|hu|hy|ia|id|ie|ik|is|it|iu|ja|jw|ka|kk|kl|km|kn|ko|ks|ku|ky|la|ln|lo|lt|lv|mg|mi|mk|ml|mn|mo|mr|ms|mt|my|na|ne|nl|no|oc|om|or|pa|pl|ps|pt|qu|rm|rn|ro|ru|rw|sa|sd|sg|sh|si|sk|sl|sm|sn|so|sq|sr|ss|st|su|sv|sw|ta|te|tg|th|ti|tk|tl|tn|to|tr|ts|tt|tw|ug|uk|ur|uz|vi|vo|wo|xh|yi|yo|za|zh|zu">

<!-- Sectioning -->
<!ENTITY % section.level1 "top | part | chapter | unnumbered | centerchap | appendix">

<!ENTITY % section.level2 "section | unnumberedsec | appendixsec">

<!ENTITY % section.level3 "subsection | unnumberedsubsec | appendixsubsec">

<!ENTITY % section.level4 "subsubsection | unnumberedsubsubsec 
                           | appendixsubsubsec">

<!ENTITY % section.all "%section.level1; | %section.level2; | %section.level3;
                        | %section.level4;">


<!-- toplevel content, not in copying nor footnote -->
<!ENTITY % main.content "%block; | %toc; | node | %heading.cmds; 
                         | printindex">

<!ENTITY % section.level0.content "(%main.content;
                                   | %section.level1;
                                   | %section.level2;
                                   | %section.level3;
                                   | %section.level4;)*">


<!ENTITY % section.level1.content "(%main.content;
                                   | %section.level2;
                                   | %section.level3;
                                   | %section.level4;)*">

<!ENTITY % section.level2.content "(%main.content;
                                   | %section.level3;
                                   | %section.level4;)*">

<!ENTITY % section.level3.content "(%main.content;
                                   | %section.level4;)*">

<!ENTITY % section.level4.content "(%main.content;)*">

<!-- arguments/attribute values. Many are missing -->
<!ENTITY % onoff "on|off">
<!ENTITY % spacetype "spc|tab|nl">
<!ENTITY % topbottom "top|bottom">

<!-- Inline -->
<!ENTITY % Inline.emphasize "strong | emph">
<!ENTITY % Inline.fonts "b | i | r | sansserif | slanted | t
                         | sc">
<!ENTITY % Inline.footnote "footnote">
<!ENTITY % Inline.markup "code | command | env | file | option | samp | verb
                          | dfn | cite | key | kbd | var | acronym | abbr
                          | indicateurl | w | asis"> 
<!ENTITY % Inline.math "math | dmn">
<!ENTITY % Inline.reference "xref | ref | pxref | inforef | email | uref | url">
<!ENTITY % Inline.misc "click | clicksequence | logo | punct | spacecmd | today
                        | linebreak | accent | dotless | ctrl">

<!-- on lines -->
<!ENTITY % Inline.line "%Inline.emphasize; | %Inline.misc; | %Inline.fonts;
          | %Inline.markup; | %Inline.math; | %Inline.reference;
          | %Inline.footnote; | image">
<!-- in paragraphs -->
<!ENTITY % Inline.phrase
           "%Inline.line; | %ubiquitous.line.cmds;">


<!-- ELEMENTS -->

<!-- TOP Level Element -->
<!ELEMENT texinfo (filename?, preamble?, (%metainformation;
                    | %section.all; | %main.content;)*, bye?)>
<!ATTLIST texinfo xml:lang (%languagecodes;) 'en'>

<!-- meta-information -->
<!ELEMENT filename EMPTY>
<!ATTLIST filename
          file   CDATA #IMPLIED>
<!ELEMENT setfilename (#PCDATA  | %Inline.line;)*>
<!ATTLIST setfilename
          file   CDATA #IMPLIED>
<!ELEMENT settitle        (#PCDATA | %Inline.line;)*>
<!ELEMENT shorttitlepage  (#PCDATA | %Inline.line;)*>
<!ELEMENT dircategory     (#PCDATA | %Inline.line;)*>

<!ELEMENT setvalue    (#PCDATA)>
<!ELEMENT clearvalue  EMPTY>
<!ATTLIST setvalue
                name CDATA #REQUIRED>
<!ATTLIST clearvalue
                name CDATA #REQUIRED>
<!ELEMENT definfoenclose EMPTY>
<!ATTLIST definfoenclose 
          command  NMTOKEN #REQUIRED
          open     CDATA   #IMPLIED
          close    CDATA   #IMPLIED>
<!ELEMENT alias          EMPTY>
<!ATTLIST alias
          new       NMTOKEN #REQUIRED
          existing  NMTOKEN #REQUIRED>
<!ELEMENT clickstyle  (#PCDATA)>
<!ATTLIST clickstyle
          command  NMTOKEN #REQUIRED>

<!-- preamble -->
<!ELEMENT preamble (#PCDATA)>

<!-- ToC -->
<!ELEMENT contents      EMPTY>
<!ELEMENT shortcontents EMPTY>
<!ELEMENT summarycontents EMPTY>

<!-- Global unique options -->
<!ELEMENT novalidate EMPTY>
<!ELEMENT setcontentsaftertitlepage EMPTY>
<!ELEMENT setshortcontentsaftertitlepage EMPTY>
<!ELEMENT documentencoding (#PCDATA)>
<!ATTLIST documentencoding
          encoding CDATA #REQUIRED>
<!ELEMENT everyheadingmarks EMPTY>
<!ATTLIST everyheadingmarks
          value (%topbottom;) #REQUIRED>
<!ELEMENT everyfootingmarks EMPTY>
<!ATTLIST everyfootingmarks
          value (%topbottom;) #REQUIRED>
<!ELEMENT evenheadingmarks EMPTY>
<!ATTLIST evenheadingmarks
          value (%topbottom;) #REQUIRED>
<!ELEMENT oddheadingmarks EMPTY>
<!ATTLIST oddheadingmarks
          value (%topbottom;) #REQUIRED>
<!ELEMENT evenfootingmarks EMPTY>
<!ATTLIST evenfootingmarks
          value (%topbottom;) #REQUIRED>
<!ELEMENT oddfootingmarks EMPTY>
<!ATTLIST oddfootingmarks
          value (%topbottom;) #REQUIRED>
<!-- "10|11" -->
<!ELEMENT fonttextsize  EMPTY>
<!ATTLIST fonttextsize
          value CDATA #REQUIRED>
<!ELEMENT pagesizes (#PCDATA)>
<!ELEMENT setchapternewpage  EMPTY>
<!-- "off|on|odd" -->
<!ATTLIST setchapternewpage
          value CDATA #REQUIRED>
<!ELEMENT footnotestyle      EMPTY>
<!-- "end|separate" -->
<!ATTLIST footnotestyle
          value CDATA #REQUIRED>
<!ELEMENT allowcodebreaks    EMPTY>
<!-- "false|true" -->
<!ATTLIST allowcodebreaks
          value CDATA #REQUIRED>
<!ELEMENT exampleindent      EMPTY>
<!ATTLIST exampleindent
          value CDATA #REQUIRED>
<!ELEMENT afourpaper      EMPTY>
<!ELEMENT afivepaper      EMPTY>
<!ELEMENT afourlatex      EMPTY>
<!ELEMENT afourwide       EMPTY>
<!ELEMENT headings        EMPTY>
<!-- "off|on|single|double|singleafter|doubleafter" -->
<!ATTLIST headings
          value CDATA #REQUIRED>
<!ELEMENT everyheading (#PCDATA)>
<!ELEMENT everyfooting (#PCDATA)>
<!ELEMENT evenheading (#PCDATA)>
<!ELEMENT evenfooting (#PCDATA)>
<!ELEMENT oddheading (#PCDATA)>
<!ELEMENT oddfooting (#PCDATA)>
<!ELEMENT vskip (#PCDATA)>
<!ELEMENT smallbook       EMPTY>
<!ELEMENT cropmarks       EMPTY>

<!-- Global options -->
<!ELEMENT documentlanguage (#PCDATA)>
<!ATTLIST documentlanguage xml:lang (%languagecodes;) 'en'>
<!ELEMENT frenchspacing (#PCDATA)> <!-- must be on or off -->
<!ATTLIST frenchspacing value (%onoff;) 'off'>
<!ELEMENT kbdinputstyle   EMPTY>
<!-- "code|example|distinct" -->
<!ATTLIST kbdinputstyle
          value CDATA #REQUIRED>
<!ELEMENT paragraphindent EMPTY>
<!ATTLIST paragraphindent
          value CDATA #REQUIRED>
<!ELEMENT firstparagraphindent EMPTY>
<!ATTLIST firstparagraphindent
          value CDATA #REQUIRED>
<!ELEMENT urefbreakstyle  EMPTY>
<!-- "after|before|none" -->
<!ATTLIST urefbreakstyle
          value CDATA #REQUIRED>
<!ELEMENT xrefautomaticsectiontitle EMPTY>
<!ATTLIST xrefautomaticsectiontitle
          value (%onoff;) #REQUIRED>
<!ELEMENT codequoteundirected EMPTY>
<!ATTLIST codequoteundirected
          value (%onoff;) #REQUIRED>
<!ELEMENT codequotebacktick EMPTY>
<!ATTLIST codequotebacktick
          value (%onoff;) #REQUIRED>
<!ELEMENT raisesections   EMPTY>
<!ELEMENT lowersections   EMPTY>

<!-- Titlepage and copying -->
<!ELEMENT copying    (%block; | %heading.cmds;)*>
<!ELEMENT insertcopying EMPTY>

<!ELEMENT titlepage  (%titlepage_cmds; | %block; | %heading.cmds;)*>
<!ELEMENT author     (#PCDATA | %Inline.line;)*>
<!ELEMENT title      (#PCDATA | %Inline.line;)*>
<!ELEMENT subtitle   (#PCDATA | %Inline.line;)*>

<!-- Formatting -->
<!ELEMENT sp EMPTY>
<!ATTLIST sp
          value CDATA #IMPLIED>
<!ELEMENT page EMPTY>
<!ELEMENT need EMPTY>
<!ATTLIST need
          value CDATA #REQUIRED>
<!ELEMENT indent   EMPTY>
<!ELEMENT noindent EMPTY>

<!-- emacs-page
<!ELEMENT node (nodename, nodenext?, nodeprev?, nodeup?,
                (%section.all; | %main.content;)*) >
     Nodes -->
<!ELEMENT node (nodename, nodenext?, nodeprev?, nodeup?)>
<!ATTLIST node
          name CDATA #IMPLIED>

<!ELEMENT nodename (#PCDATA | %Inline.line;)*>
<!ELEMENT nodenext (#PCDATA | %Inline.line;)*>
<!ATTLIST nodenext
          automatic (%onoff;) 'off'>
<!ELEMENT nodeprev (#PCDATA | %Inline.line;)*>
<!ATTLIST nodeprev
          automatic (%onoff;) 'off'>
<!ELEMENT nodeup   (#PCDATA | %Inline.line;)*>
<!ATTLIST nodeup
          automatic (%onoff;) 'off'>


<!-- Sectioning -->
<!ELEMENT top           (sectiontitle?, (%section.level0.content;))>
<!ATTLIST top
          originalcommand CDATA #IMPLIED>
<!ELEMENT part          (sectiontitle?, (%section.level0.content;))>
<!ATTLIST part
          originalcommand CDATA #IMPLIED>

<!ELEMENT chapter       (sectiontitle?, (%section.level1.content;))>
<!ATTLIST chapter
          originalcommand CDATA #IMPLIED>
<!ELEMENT section       (sectiontitle?, (%section.level2.content;))>
<!ATTLIST section
          originalcommand CDATA #IMPLIED>
<!ELEMENT subsection    (sectiontitle?, (%section.level3.content;))>
<!ATTLIST subsection
          originalcommand CDATA #IMPLIED>
<!ELEMENT subsubsection (sectiontitle?, (%section.level4.content;))>
<!ATTLIST subsubsection
          originalcommand CDATA #IMPLIED>

<!ELEMENT unnumbered          (sectiontitle?, (%section.level1.content;))>
<!ATTLIST unnumbered
          originalcommand CDATA #IMPLIED>
<!ELEMENT unnumberedsec       (sectiontitle?, (%section.level2.content;))>
<!ATTLIST unnumberedsec
          originalcommand CDATA #IMPLIED>
<!ELEMENT unnumberedsubsec    (sectiontitle?, (%section.level3.content;))>
<!ATTLIST unnumberedsubsec
          originalcommand CDATA #IMPLIED>
<!ELEMENT unnumberedsubsubsec (sectiontitle?, (%section.level4.content;))>
<!ATTLIST unnumberedsubsubsec
          originalcommand CDATA #IMPLIED>
<!ELEMENT centerchap          (sectiontitle?, (%section.level1.content;))>
<!ATTLIST centerchap
          originalcommand CDATA #IMPLIED>

<!ELEMENT appendix          (sectiontitle?, (%section.level1.content;))>
<!ATTLIST appendix
          originalcommand CDATA #IMPLIED>
<!ELEMENT appendixsec       (sectiontitle?, (%section.level2.content;))>
<!ATTLIST appendixsec
          originalcommand CDATA #IMPLIED>
<!ELEMENT appendixsubsec    (sectiontitle?, (%section.level3.content;))>
<!ATTLIST appendixsubsec
          originalcommand CDATA #IMPLIED>
<!ELEMENT appendixsubsubsec (sectiontitle?, (%section.level4.content;))>
<!ATTLIST appendixsubsubsec
          originalcommand CDATA #IMPLIED>

<!-- Headings and titles -->
<!ELEMENT majorheading  (#PCDATA | %Inline.line;)*>
<!ELEMENT chapheading   (#PCDATA | %Inline.line;)*>
<!ELEMENT heading       (#PCDATA | %Inline.line;)*>
<!ELEMENT subheading    (#PCDATA | %Inline.line;)*>
<!ELEMENT subsubheading (#PCDATA | %Inline.line;)*>
<!ELEMENT sectiontitle  (#PCDATA | %Inline.line;)*>


<!-- emacs-page
     Block elements -->

<!ELEMENT quotation    (quotationtype?, (%block; | exdent | author)*)>
<!ELEMENT smallquotation    (quotationtype?, (%block; | exdent | author)*)>
<!ELEMENT quotationtype (#PCDATA | %Inline.line;)*>

<!ELEMENT documentdescription (%block;)*>
<!ELEMENT example      (%block; | exdent)*>
<!ELEMENT smallexample (%block; | exdent)*>
<!ELEMENT lisp         (%block; | exdent)*>
<!ELEMENT smalllisp    (%block; | exdent)*>
<!ELEMENT cartouche    (%block; | exdent)*>
<!ELEMENT format       (%block; | exdent)*>
<!ELEMENT smallformat  (%block; | exdent)*>
<!ELEMENT display      (%block; | exdent)*>
<!ELEMENT smalldisplay (%block; | exdent)*>
<!ELEMENT group        (%block; | exdent)*>
<!ELEMENT flushleft    (%block; | exdent)*>
<!ELEMENT flushright   (%block; | exdent)*>
<!ELEMENT raggedright  (%block; | exdent)*>

<!ELEMENT center       (#PCDATA | %Inline.line;)*>

<!ELEMENT image        (imagefile, imagewidth?, imageheight?, alttext?,
                        imageextension?)>
<!ELEMENT imagefile       (#PCDATA | %Inline.line;)*>
<!ELEMENT imagewidth      (#PCDATA)>
<!ELEMENT imageheight     (#PCDATA)>
<!ELEMENT alttext         (#PCDATA | %Inline.line;)*>
<!ELEMENT imageextension  (#PCDATA)>
<!ATTLIST image
            where      CDATA #IMPLIED>

<!-- Whitespace in these elements are always preserved -->
<!ELEMENT verbatim     (#PCDATA)>
<!ATTLIST verbatim     xml:space (preserve) #FIXED 'preserve'>

<!-- author is there because it may happen in a quotation para -->
<!ELEMENT para         (#PCDATA | %Inline.phrase; | author)*>
<!ATTLIST para
          role CDATA #IMPLIED>
<!ELEMENT pre          (#PCDATA | %Inline.phrase; | author)*>
<!ATTLIST pre          xml:space (preserve) #FIXED 'preserve'>

<!ELEMENT menu (menuentry | detailmenu | menucomment)*>
<!ELEMENT detailmenu (menuentry | menucomment)*>
<!ELEMENT direntry (menuentry | menucomment)*>
<!ELEMENT menuentry (menutitle?, menunode?, menudescription?)>
<!ELEMENT menunode (#PCDATA | %Inline.line;)*>
<!ELEMENT menutitle (#PCDATA | %Inline.line;)*>
<!ELEMENT menudescription (%block;)*>
<!ELEMENT menucomment (%block;)*>

<!-- Raw formats -->
<!ELEMENT docbook (#PCDATA)>
<!ELEMENT html (#PCDATA)>
<!ELEMENT tex (#PCDATA)>

<!-- formalarg only before PCDATA, but mandating it seems not possible -->
<!ELEMENT macro (#PCDATA | formalarg)*>
<!ATTLIST macro
          name CDATA #REQUIRED
          line CDATA #REQUIRED>
<!ELEMENT rmacro (#PCDATA | formalarg)*>
<!ATTLIST rmacro
          name CDATA #REQUIRED
          line CDATA #REQUIRED>

<!ELEMENT formalarg (#PCDATA)>

<!ELEMENT ignore (#PCDATA)>

<!-- Negative indentation in blocks -->
<!ELEMENT exdent       (#PCDATA | %Inline.line;)*>

<!ELEMENT verbatiminclude (#PCDATA)>
<!ATTLIST verbatiminclude
          file CDATA #REQUIRED>

<!-- Floating displays -->
<!ELEMENT float (floattype?, floatname?, (%block;)*,
                (caption | shortcaption)*)>
<!ATTLIST float
          name CDATA #IMPLIED
          type CDATA #IMPLIED>
<!ELEMENT floattype (#PCDATA | %Inline.line;)*>
<!ELEMENT floatname (#PCDATA | %Inline.line;)*>
<!ELEMENT caption (#PCDATA | %block;)*>
<!ELEMENT shortcaption (#PCDATA | %Inline.phrase; | para)*>
<!ELEMENT listoffloats (#PCDATA | %Inline.line;)*>
<!ATTLIST listoffloats
          type CDATA #IMPLIED>

<!-- Lists -->
<!ELEMENT itemize (itemprepend?, beforefirstitem?, 
                   (listitem | %indexentry.cmds;)*)>
<!ATTLIST itemize
          commandarg CDATA #IMPLIED>
<!ELEMENT enumerate (enumeratefirst?, beforefirstitem?,
                     (listitem | %indexentry.cmds;)*)>
<!ATTLIST enumerate
          first CDATA #IMPLIED>
<!ELEMENT enumeratefirst (#PCDATA)>

<!ELEMENT listitem (prepend?, (%block;)*)>
<!ELEMENT prepend (#PCDATA | %Inline.line;)*>

<!ELEMENT itemprepend (#PCDATA | %Inline.line;)*>
<!ELEMENT beforefirstitem (%block;)*>

<!-- Tables -->
<!ELEMENT table (beforefirstitem?, (tableentry | %indexentry.cmds;)+)>
<!ATTLIST table
          commandarg CDATA #IMPLIED>
<!ELEMENT vtable (beforefirstitem?, (tableentry | %indexentry.cmds;)+)>
<!ATTLIST vtable
          commandarg CDATA #IMPLIED>
<!ELEMENT ftable (beforefirstitem?, (tableentry | %indexentry.cmds;)+)>
<!ATTLIST ftable
          commandarg CDATA #IMPLIED>
<!ELEMENT tableentry (tableterm, tableitem?)>
<!-- tableterm contains directly pre if there is an index entry before @itemx -->
<!ELEMENT tableterm (item,  (pre | itemx | %indexentry.cmds;)*)>
<!ELEMENT item (#PCDATA | %Inline.line; | itemformat | indexterm)*>
<!ELEMENT itemx (#PCDATA | %Inline.line; | itemformat | indexterm)*>
<!ELEMENT itemformat (#PCDATA | %Inline.line; | indexterm)*>
<!ATTLIST itemformat
          command   CDATA #REQUIRED>
<!ELEMENT tableitem (%block;)*>

<!ELEMENT multitable ((columnfractions | columnprototypes), beforefirstitem?, 
                      thead?, tbody)>
<!ELEMENT columnfractions (columnfraction+)>
<!ELEMENT columnprototypes (columnprototype+)>
<!ELEMENT columnfraction EMPTY>
<!ATTLIST columnfraction
          value CDATA #REQUIRED>
<!ELEMENT columnprototype (#PCDATA | %Inline.line;)*>
<!ELEMENT thead (row+)>
<!ELEMENT tbody (row+)>
<!ELEMENT row (entry*)>
<!ELEMENT entry (%block;)*>
<!ATTLIST entry
          command   CDATA #REQUIRED>

<!-- API definitions -->
<!-- def* contains directly pre if there is an index entry before def*x -->
<!ELEMENT deffn (definitionterm, (pre | deffnx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT deffnx (definitionterm)>
<!ELEMENT defvr (definitionterm, (pre | defvrx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT defvrx (definitionterm)>
<!ELEMENT deftypefn (definitionterm, (pre | deftypefnx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT deftypefnx (definitionterm)>
<!ELEMENT deftypeop (definitionterm, (pre | deftypeopx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT deftypeopx (definitionterm)>
<!ELEMENT deftypevr (definitionterm, (pre | deftypevrx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT deftypevrx (definitionterm)>
<!ELEMENT defcv (definitionterm, (pre | defcvx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT defcvx (definitionterm)>
<!ELEMENT deftypecv (definitionterm, (pre | deftypecvx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT deftypecvx (definitionterm)>
<!ELEMENT defop (definitionterm, (pre | defopx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT defopx (definitionterm)>
<!ELEMENT deftp (definitionterm, (pre | deftpx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT deftpx (definitionterm)>
<!ELEMENT defun (definitionterm, (pre | defunx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT defunx (definitionterm)>
<!ELEMENT defmac (definitionterm, (pre | defmacx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT defmacx (definitionterm)>
<!ELEMENT defspec (definitionterm, (pre | defspecx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT defspecx (definitionterm)>
<!ELEMENT defvar (definitionterm, (pre | defvarx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT defvarx (definitionterm)>
<!ELEMENT defopt (definitionterm, (pre | defoptx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT defoptx (definitionterm)>
<!ELEMENT deftypefun (definitionterm, (pre | deftypefunx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT deftypefunx (definitionterm)>
<!ELEMENT deftypevar (definitionterm, (pre | deftypevarx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT deftypevarx (definitionterm)>
<!ELEMENT defivar (definitionterm, (pre | defivarx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT defivarx (definitionterm)>
<!ELEMENT deftypeivar (definitionterm, (pre | deftypeivarx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT deftypeivarx (definitionterm)>
<!ELEMENT defmethod (definitionterm, (pre | defmethodx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT defmethodx (definitionterm)>
<!ELEMENT deftypemethod (definitionterm, (pre | deftypemethodx | %indexentry.cmds;)*, definitionitem?)>
<!ELEMENT deftypemethodx (definitionterm)>

<!--
<!ELEMENT definition (definitionterm | definitionitem | indexterm)+>
<!ELEMENT definitionterm (%definition.args; | indexterm)+>
-->
<!ELEMENT definitionterm (indexterm?, (%definition.args;)+)>
<!ELEMENT definitionitem (%block;)*>

<!ELEMENT defcategory  (#PCDATA | %Inline.line;)*>
<!ATTLIST defcategory
          automatic (%onoff;) 'off'>
<!ELEMENT deffunction  (#PCDATA | %Inline.line;)*>
<!ELEMENT defvariable  (#PCDATA | %Inline.line;)*>
<!ELEMENT defparam     (#PCDATA | %Inline.line;)*>
<!ELEMENT defdelimiter (#PCDATA | %Inline.line;)*>
<!ELEMENT deftype      (#PCDATA | %Inline.line;)*>
<!ELEMENT defparamtype (#PCDATA | %Inline.line;)*>
<!ELEMENT defdatatype  (#PCDATA | %Inline.line;)*>
<!ELEMENT defclass     (#PCDATA | %Inline.line;)*>
<!ELEMENT defclassvar  (#PCDATA | %Inline.line;)*>
<!ELEMENT defoperation (#PCDATA | %Inline.line;)*>

<!-- emacs-page
     Inline elements -->

<!ELEMENT hyphenation (#PCDATA)>

<!-- emphasize -->
<!ELEMENT strong (#PCDATA | %Inline.phrase;)*>
<!ELEMENT emph   (#PCDATA | %Inline.phrase;)*>

<!-- small caps -->
<!ELEMENT sc (#PCDATA | %Inline.phrase;)*>

<!-- fonts -->
<!ELEMENT b  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT i  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT r  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT sansserif   (#PCDATA | %Inline.phrase;)*>
<!ELEMENT slanted     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT titlefont   (#PCDATA | %Inline.phrase;)*>
<!ELEMENT t (#PCDATA | %Inline.phrase;)*>

<!-- markup -->
<!ELEMENT code    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT command (#PCDATA | %Inline.phrase;)*>
<!ELEMENT env     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT file    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT option  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT samp    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT dfn     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT cite    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT key     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT kbd     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT var     (#PCDATA | %Inline.phrase;)*>
<!ELEMENT indicateurl   (#PCDATA | %Inline.phrase;)*>
<!ELEMENT clicksequence (#PCDATA | %Inline.phrase;)*>
<!ELEMENT w       (#PCDATA | %Inline.phrase;)*>
<!ELEMENT asis    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT verb    (#PCDATA)>
<!ATTLIST verb
          delimiter CDATA #REQUIRED>

<!ELEMENT acronym (acronymword, acronymdesc?)>
<!ELEMENT acronymword (#PCDATA | %Inline.phrase;)*>
<!ELEMENT acronymdesc (#PCDATA | %Inline.phrase;)*>

<!ELEMENT abbr (abbrword, abbrdesc?)>
<!ELEMENT abbrword (#PCDATA | %Inline.phrase;)*>
<!ELEMENT abbrdesc (#PCDATA | %Inline.phrase;)*>

<!-- math -->
<!ELEMENT math    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT dmn     (#PCDATA | %Inline.phrase;)*>

<!-- reference -->
<!ELEMENT anchor (#PCDATA | %Inline.phrase;)*>
<!ATTLIST anchor
          name CDATA #IMPLIED>


<!ENTITY % xref.args "xrefnodename, xrefinfoname?, xrefprinteddesc?,
                xrefinfofile?, xrefprintedname?">

<!ELEMENT xref (%xref.args;)>
<!ELEMENT ref (%xref.args;)>
<!ELEMENT pxref (%xref.args;)>

<!ELEMENT xrefnodename    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefinfoname    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefinfofile    (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefprintedname (#PCDATA | %Inline.phrase;)*>
<!ELEMENT xrefprinteddesc (#PCDATA | %Inline.phrase;)*>

<!ELEMENT inforef (inforefnodename, inforefrefname?, inforefinfoname?)>
<!ELEMENT inforefnodename (#PCDATA | %Inline.phrase;)*>
<!ELEMENT inforefrefname  (#PCDATA | %Inline.phrase;)*>
<!ELEMENT inforefinfoname (#PCDATA | %Inline.phrase;)*>

<!ELEMENT email (emailaddress, emailname?)>
<!ELEMENT emailaddress (#PCDATA | %Inline.phrase;)*>
<!ELEMENT emailname (#PCDATA | %Inline.phrase;)*>

<!ELEMENT uref (urefurl, urefdesc?, urefreplacement?)>
<!ELEMENT url  (urefurl, urefdesc?, urefreplacement?)>
<!ELEMENT urefurl         (#PCDATA | %Inline.phrase;)*>
<!ELEMENT urefdesc        (#PCDATA | %Inline.phrase;)*>
<!ELEMENT urefreplacement (#PCDATA | %Inline.phrase;)*>

<!ELEMENT footnote (%block;)*>

<!-- deprecated -->

<!ELEMENT ctrl             (#PCDATA | %Inline.phrase;)*>
<!ELEMENT refill           EMPTY>
<!ELEMENT quote-arg        EMPTY>
<!ELEMENT allow-recursion  EMPTY>

<!-- index commands -->

<!ELEMENT defindex  EMPTY>
<!ATTLIST defindex
          value     NMTOKEN #REQUIRED>
<!ELEMENT defcodeindex  EMPTY>
<!ATTLIST defcodeindex
          value     NMTOKEN #REQUIRED>
<!ELEMENT synindex  EMPTY>
<!ATTLIST synindex
          from      NMTOKEN #REQUIRED
          to        NMTOKEN #REQUIRED>
<!ELEMENT syncodeindex  EMPTY>
<!ATTLIST syncodeindex
          from      NMTOKEN #REQUIRED
          to        NMTOKEN #REQUIRED>
<!ELEMENT indexterm (#PCDATA | %Inline.line;)*>
<!ATTLIST indexterm
          index CDATA #IMPLIED>
<!ELEMENT indexcommand (indexterm)>
<!ATTLIST indexcommand
          command   CDATA #REQUIRED
          index     CDATA #REQUIRED>
<!ELEMENT cindex (indexterm)>
<!ATTLIST cindex 
          index     CDATA #REQUIRED>
<!ELEMENT findex (indexterm)>
<!ATTLIST findex 
          index     CDATA #REQUIRED>
<!ELEMENT kindex (indexterm)>
<!ATTLIST kindex 
          index     CDATA #REQUIRED>
<!ELEMENT pindex (indexterm)>
<!ATTLIST pindex 
          index     CDATA #REQUIRED>
<!ELEMENT tindex (indexterm)>
<!ATTLIST tindex 
          index     CDATA #REQUIRED>
<!ELEMENT vindex (indexterm)>
<!ATTLIST vindex 
          index     CDATA #REQUIRED>
<!ELEMENT printindex EMPTY>
<!ATTLIST printindex
          value     NMTOKEN #REQUIRED>

<!-- misc -->

<!ELEMENT bye EMPTY>

<!-- space and accent commands -->
<!ELEMENT spacecmd EMPTY>
<!ATTLIST spacecmd
          type (%spacetype;) #IMPLIED>
<!ELEMENT accent (#PCDATA | accent | dotless)*>
<!ATTLIST accent
          type        CDATA #REQUIRED>
<!ELEMENT dotless (#PCDATA)>
<!ELEMENT click  EMPTY>
<!ATTLIST click
          command        CDATA #REQUIRED>
<!ELEMENT today EMPTY>


<!-- emacs-page
     Punctuation and special symbols.  -->

<!ELEMENT punct     (#PCDATA)>
<!ATTLIST punct
          end-of-sentence (yes|no) #IMPLIED>
<!ELEMENT logo      (#PCDATA)>
<!ELEMENT linebreak EMPTY>
<!ELEMENT noeos EMPTY>

<!ENTITY tex        "<logo>TeX</logo>">
<!ENTITY latex      "<logo>LaTeX</logo>">
<!ENTITY ellipsis   "&#x2026;">
<!ENTITY lt         "&#x3c;">
<!ENTITY gt         "&#x3e;">
<!ENTITY bullet     "&#x2022;">
<!ENTITY copyright  "&#xa9;">
<!ENTITY registered "&#xae;">
<!ENTITY euro       "&#x20ac;">
<!ENTITY pounds     "&#xa3;">
<!ENTITY minus      "&#x2212;">
<!ENTITY linebreak  "<linebreak/>">
<!ENTITY dots       "<punct end-of-sentence='no'>&#x2026;</punct>">
<!ENTITY enddots    "<punct end-of-sentence='yes'>&#x2026;</punct>">
<!ENTITY amp        "&#x26;">
<!ENTITY lsquo      "&#x2018;">
<!ENTITY rsquo      "&#x2019;">
<!ENTITY sbquo      "&#x201a;">
<!ENTITY ldquo      "&#x201c;">
<!ENTITY textldquo      "&#x201c;">
<!ENTITY rdquo      "&#x201d;">
<!ENTITY textrdquo      "&#x201d;">
<!ENTITY bdquo      "&#x201e;">
<!ENTITY laquo      "&#xab;">
<!ENTITY raquo      "&#xbb;">
<!ENTITY lsaquo     "&#x2039;">
<!ENTITY rsaquo     "&#x203a;">
<!ENTITY textmdash      "&#x2014;">
<!ENTITY textndash      "&#x2013;">
<!ENTITY period     "<punct end-of-sentence='no'>.</punct>">
<!ENTITY eosperiod  "<punct end-of-sentence='yes'>.</punct>">
<!ENTITY quest      "<punct end-of-sentence='no'>?</punct>">
<!ENTITY eosquest   "<punct end-of-sentence='yes'>?</punct>">
<!ENTITY excl       "<punct end-of-sentence='no'>!</punct>">
<!ENTITY eosexcl    "<punct end-of-sentence='yes'>!</punct>">
<!ENTITY hyphenbreak "&#x00ad;">
<!ENTITY slashbreak "/">
<!ENTITY noeos      "<noeos/>">
<!ENTITY arobase    "@">
<!ENTITY lbrace     "}">
<!ENTITY rbrace     "{">
<!ENTITY comma     ",">
<!ENTITY nbsp       "&#xa0;">
<!ENTITY deg        "&#xb0;">
<!ENTITY expansion  "&#x2192;">
<!ENTITY point      "&#x2605;">
<!ENTITY printglyph "&#x22a3;">
<!ENTITY errorglyph "error--&gt;">
<!ENTITY result     "&#x21d2;">
<!ENTITY le         "&#x2264;">
<!ENTITY ge         "&#x2265;">
<!ENTITY equiv      "&#x2261;">

<!ENTITY auml "&#xe4;">
<!ENTITY ouml "&#xf6;">
<!ENTITY uuml "&#xfc;">
<!ENTITY Auml "&#xc4;">
<!ENTITY Ouml "&#xd6;">
<!ENTITY Uuml "&#xdc;">
<!ENTITY Euml "&#xcb;">
<!ENTITY euml "&#xeb;">
<!ENTITY Iuml "&#xcf;">
<!ENTITY iuml "&#xef;">
<!ENTITY yuml "&#xff;">
<!ENTITY uml  "&#xa8;">

<!ENTITY Aacute "&#xc1;">
<!ENTITY Eacute "&#xc9;">
<!ENTITY Iacute "&#xcd;">
<!ENTITY Oacute "&#xd3;">
<!ENTITY Uacute "&#xda;">
<!ENTITY Yacute "&#xdd;">
<!ENTITY aacute "&#xe1;">
<!ENTITY eacute "&#xe9;">
<!ENTITY iacute "&#xed;">
<!ENTITY oacute "&#xf3;">
<!ENTITY uacute "&#xfa;">
<!ENTITY yacute "&#xfd;">

<!ENTITY ccedil "&#xe7;">
<!ENTITY Ccedil "&#xc7;">

<!ENTITY Acirc "&#xc2;">
<!ENTITY Ecirc "&#xca;">
<!ENTITY Icirc "&#xc3;">
<!ENTITY Ocirc "&#xd4;">
<!ENTITY Ucirc "&#xdb;">
<!ENTITY acirc "&#xe2;">
<!ENTITY ecirc "&#xea;">
<!ENTITY icirc "&#xee;">
<!ENTITY ocirc "&#xf4;">
<!ENTITY ucirc "&#xfb;">

<!ENTITY Agrave "&#xc0;">
<!ENTITY Egrave "&#xc8;">
<!ENTITY Igrave "&#xcc;">
<!ENTITY Ograve "&#xd2;">
<!ENTITY Ugrave "&#xd9;">
<!ENTITY agrave "&#xe0;">
<!ENTITY egrave "&#xe8;">
<!ENTITY igrave "&#xec;">
<!ENTITY ograve "&#xf2;">
<!ENTITY ugrave "&#xf9;">

<!ENTITY Atilde "&#xc3;">
<!ENTITY Ntilde "&#xd1;">
<!ENTITY Otilde "&#xd5;">
<!ENTITY atilde "&#xe3;">
<!ENTITY ntilde "&#xf1;">
<!ENTITY otilde "&#xf5;">

<!ENTITY oslash "&#xf8;">
<!ENTITY Oslash "&#xd8;">

<!ENTITY lslash "&#x0142;">
<!ENTITY Lslash "&#x0141;">

<!ENTITY THORN  "&#xde;">
<!ENTITY thorn  "&#xfe;">

<!ENTITY eth "&#xf0;">
<!ENTITY ETH "&#xd0;">

<!ENTITY ordm "&#xba;">
<!ENTITY ordf "&#xaa;">

<!ENTITY iexcl "&#xa1;">
<!ENTITY pound "&#xa3;">
<!ENTITY iquest "&#xbf;">
<!ENTITY AElig "&#xc6;">
<!ENTITY aelig "&#xe6;">
<!ENTITY OElig "&#x152;">
<!ENTITY oelig "&#x153;">
<!ENTITY Aring "&#xc5;">
<!ENTITY aring "&#xe5;">
<!ENTITY szlig "&#xdf;">

<!ENTITY rarr "&#x2192;">
<!ENTITY rArr "&#x21d2;">

<!ENTITY macr "&#xaf;">

<!ENTITY backslash  "\">
